# Rust
/target
**/*.rs.bk
Cargo.lock

# Generated executable
swiftshare

# Precompiled releases (except releases/ folder)
!/releases/

# OS
.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test uploads
**/.swiftshare-temp/
